<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>| Jackson Hole General Store Inventory |</title>
</head>
<body id="index">
    <header>
        <h3><strong>Jackson Hole General Store </strong> |   Overview  |</h3>
        <%- include('./partials/header.ejs') %>
    </header>
    <div class="container">
        <label for="inStock">Product(s) Currently in Stock: </label>
        <table>
        <% inventory.forEach(inventory => {%>
        <% if (inventory.qty >= 1){ %>
        <div class="each">
        <tr class="descript">
            <td>Item Name:</td>
            <td>Price:</td>
            <td>Quantity:</td>
            <% if (inventory.desc !== undefined){ %>
            <td>Description:</td>
            <% }%>
        </tr>
        <tr class="bringValue">
            <td class="selectI"><a href="/inventory/<%=inventory._id%>"><%=inventory.name%></a></td>
            <td><%=inventory.price%></td>
            <td><%=inventory.qty%></td>
            <td><%=inventory.desc%></td>
        </tr>
        <% }}); %>
        </table>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>